/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  background: linear-gradient(#ffffff, #c0c0c0);
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

nav {
  align-items: center;
  background-color: #333333;
  color: white;
  display: flex;
  height: 80px;
  padding: 10px;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
	background: #fff;
    border: 2px solid purple;
    width: 85%;
    height: 80vH;
    font-family: "Georgia", serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
}

.box {
background-color: lightgrey;
  width: 50px;
  border: 2px solid green;
  padding: 25px;
  margin: 10px;
}

.smaller-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  }

  img {
    max-width: 200px;
  }
